@charset "utf-8";
/*img*/
img {
    border: 0;
    vertical-align: middle
}

a img, img {
    -ms-interpolation-mode: bicubic
}

a {
    text-decoration: none
}

.img-responsive {
    max-width: 100%;
    height: auto
}

.clearx {
    clear: both
}

body {
    background-color: white;
}

/*img*/
img {
    width: 100%
}

img {
    border: 0;
    vertical-align: middle
}

a img, img {
    -ms-interpolation-mode: bicubic
}

a {
    text-decoration: none
}

.img-responsive {
    max-width: 100%;
    height: auto
}

.return_btn {
    display: block;
    width: 15px;
    position: absolute;
    top: 0;
    left: 10px;
    background: url(../images/icon_1.png) no-repeat center;
    background-size: 25px auto
}

.sel_btn {
    display: block;
    width: 27px;
    position: absolute;
    top: 0;
    right: 50px;
    background: url(../images/order/sel_btn.png) no-repeat center;
    background-size: 27px auto
}

.dropD {
    display: block;
    width: 25px;
    position: absolute;
    top: 0;
    right: 10px;
    background: url(../images/more_btn.png) no-repeat center
}

.dropdiv {
    display: none;
    position: absolute;
    right: 5%;
    padding: 11px 10px;
    background: url(../images/bg.png);
}

span.flag {
    display: block;
    position: absolute;
    top: -16px;
    width: 10px;
    height: 9px;
    width: 0;
    height: 0;
    font-size: 0;
    border: solid 8px;
    border-color: #fff #fff #000 #fff;
    opacity: 0.7
}

.dropdiv a {
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    display: block;
    border-bottom: 1px solid #583b3f;
    text-align: left;
    padding-left: 30px;
    background: url(../images/merchandise/icons.png) no-repeat
}

.dropdiv a.hicon1 {
    background: url(../images/icon_5.png) no-repeat left center
}

.dropdiv a.hicon2 {
    background: url(../images/icon_6.png) no-repeat left center
}

.dropdiv a.hicon3 {
    background: url(../images/icon_7.png) no-repeat left center
}

.dropdiv a.hicon4 {
    background: url(../images/icon_8.png) no-repeat left center
}

/*选项卡*/
.fixedbox {
    position: fixed;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 100;
    margin-top: 0;
    box-shadow: 0 2px 3px #ccc
}

.favor-header-bar {
    width: 100%;
    background: #fff;
    padding: 10px 0;
    z-index: 99;
}

.favor-header-bar li {
    width: 20%;
    float: left;
    text-align: center;
}

.favor-header-bar li a {
    color: #0f0f0f;
    padding-bottom: 0.2rem
}

.favor-header-bar li.default a {
    color: #fa1545;
}

.favor-header-bar li span {
    position: absolute;
    display: block;
    width: 25%;
    top: -0.4rem;
    right: 0.2rem;
    max-width: 32px;
}

.orderlist {
    width: 100%;
    height: 100%;
    position: relative;
}

.orderlist article {
    position: relative;
    padding: 8px;
    margin-top: 8px;
    background: #fff;
}

.orderlist article > b {
    font-weight: normal;
    color: #000;
    display: block;
    width: 60%;
    height: 25px;
    line-height: 25px;
    padding-left: 30px;
    background-size: 20px 20px;
    position: relative;
    float: left
}

.orderlist article > b a {
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    height: 25px;
    color: grey;
    left: 0px;
    position: absolute;
}

.orderlist article > b span {
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    height: 25px;
    color: grey;
    left: 0px;
    position: absolute;
}

.orderlist article > b i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 30px auto;
    position: absolute;
    top: 2px
}

.orderlist article > em.flag {
    position: absolute;
    right: 10px;
    top: 10px;
    font-style: normal;
    color: #fa1d4a
}

.Orgoods {
    display: block;
    padding: 0.12rem 0;
    border-bottom: 1px solid #D1D1D1;
    color: gray;
}

.Orgoods:last-child {
    /*border: none*/

}

.Orgoods > span {
    display: inline-block;
    width: 25%;
    float: left
}

.Orgoods > a {
    display: inline-block;
    width: 25%;
    float: left
}

.Orgoods > span.message {
    display: inline-block;
    width: 50%;
    float: left;
    padding-left: 6px;
    color: gray;
    vertical-align: middle;
}

.Orgoods > span.message span {
    display: block;
    width: 90%;
    line-height: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: gray;
}

.Orgoods > span.message i {
    display: block;
    color: #666;
    font-style: normal;
    margin-top: 0.1rem;
    line-height: 14px;
    font-size: 12px;
    color: gray;
}

.Orgoods > span.price {
    display: inline-block;
    width: 22%;
    float: right;
    text-align: right
}

.Orgoods > span.price b {
    font-weight: normal;
    color: #000;
}

i.pr {
    font-style: normal;
}

.Orgoods > span.price em {
    color: #999;
    font-style: normal;
    display: block;
    margin-top: 0.3rem
}

a.big {

}

a.linebtn {
    color: #fa1d4a;
    border: 1px solid #fa1d4a;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 5px 10px;
}

a.linebtn.gray {
    border-color: #666;
    color: #666
}

a.linebtn:active {
    background: #fa1d4a;
    color: #fff;
    border-color: #fa1d4a
}

.orderlist article.total {
    text-align: right
}

/*订单详情*/
.ordermessage {
    background: #fff;
    margin-bottom: 8px
}

.ordermessage > p {
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #eee;
    padding: 0 10px
}

.ordermessage > a {
    display: block;
    height: 50px;
    line-height: 50px;
    color: #929292;
    padding-left: 40px;
    background: url(../images/order/wuliu.png) no-repeat left center;
    background-size: 30px auto;
    position: relative;
    margin-left: 10px;
}

.ordermessage > a b {
    color: #000;
    font-weight: normal;
    padding-right: 10px
}

.ordermessage > a i {
    display: block;
    width: 20px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 10px;
    background-size: 30px auto
}

.shouh {
    display: block;
    padding: 10px 0;
    padding-left: 40px;
    background: url(../img/icon/dizhi.png) no-repeat left center;
    background-size: 30px auto;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.shouh p:after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 12px;
    background-size: 30px auto;
    background: url(../img/icon/icon_into.png) no-repeat center;
    position: absolute;
    right: 10px;
    top: center
}

.shouh p.confirm {
    width: 90%;
    line-height: 18px;
}

.shouh dd {
    float: left;
}

.shouh > dl > dd > input {
    border: none;
    border-bottom: 1px solid gray;
    line-height: .25rem;
    padding-left: 10px;
    width: auto;
}

.shouh dt {
    float: right;
    margin-right: 10px;
}

.Orgoods.or1 {
    position: relative
}

.price > p {
    text-align: right;
    margin-top: 10px
}

.price > p a.linebtn {
    padding: 2px 8px
}

.orderlist article .Or_more {
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: relative
}

.orderlist article .Or_more b {
    font-weight: normal;
    color: #6d6d6d;
    position: relative
}

.orderlist article .Or_more b:after {
    content: '';
    margin-left: 10px;
    display: inline-block;
    height: 11px;
    width: 20px;
    background: url(../images/order/i_more.png) no-repeat center;
    background-size: 20px auto;
}

.orderlist article.line {
    border-bottom: 1px solid #eee;
}

.orderlist article > h3 {
    color: #6d6d6d;
    font-weight: normal;
    display: block;
    position: relative
}

.orderlist article > h3 a {
    color: #000;
    position: absolute;
    top: 0;
    right: 0
}

.orderlist article > p {
    color: #6d6d6d;
}

.orderlist article > p.btn {
    padding: 10px 0;
    text-align: right
}

/*确认订单*/
.colorline {
    height: 3px;
    width: 100%;
    background-image: linear-gradient(to right, #f96c2c, #f41b58);
    background-image: -webkit-linear-gradient(to right, #f96c2c, #f41b58);
}

.orderlist article.nopadding, .nopadding {
    margin: 0
}

.orderlist article.pay_way {
    padding: 0;
}

.orderlist article.pay_way a {
    display: block;
    height: 36px;
    line-height: 36px;
    color: #6d6d6d;
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 0 10px
}

.orderlist article.pay_way a b {
    font-weight: normal;
    color: #000;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    position: absolute;
    top: 0;
    right: 30px;
}

.orderlist article.pay_way a i {
    display: inline-block;
    width: 20px;
    height: 36px;
    position: absolute;
    top: 0;
    background: url(../img/icon/icon_into.png) no-repeat center;
    right: 2px;
    background-size: 30px auto
}

.orderlist article.pay_way > span {
    display: block;
    background: #fff;
    padding: 10px
}

.orderlist article.pay_way span span {
    display: inline-block;
    line-height: 20px;
    float: right;
    margin-left: 10px
}

.orderlist article.pay_way span span i, footer p i {
    font-style: normal;
    color: #fb1949
}

.orderlist article.pay_way span span b, footer p b {
    font-weight: normal;
    color: #fb1949;
}

.btn_color {
    display: inline-block;
    color: #fff;
    background-image: linear-gradient(to right, #f96c2c, #f41b58);
    background-image: -webkit-linear-gradient(to right, #f96c2c, #f41b58);
    text-align: center;
}

/*底部*/
.shopcard-footer {
    height: 0.5rem;
    border-top: 1px #CCC solid;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background: #EEE;
    width: 100%;
}

.repet {
    height: 0.5rem;
    width: 100%;
}

.div-3 {
    height: 100%;
    width: 60%;
    line-height: 0.5rem;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
}

.div-4 {
    height: 100%;
    width: 40%;
    line-height: 0.5rem;
    vertical-align: middle;
    text-align: center;
    font-size: 1.7em;
    background-color: #00cc7d;
    color: #fff;
}

.post-desc {
    font-size: 11px;
}

/**
 * 选择支付提示
*/
.pay-way-page > div {
    font-size: 14px;
    margin-bottom: 15px;
    color: red;
    text-align: left;
}

.pay-way-page > div:nth-child(2) {
    font-size: 18px;
    color: red;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 20px;
}

.pay-way-page-pay > span {
    display: block;
    color: gray;
    font-size: 14px;
    margin-top: 10px;
    padding: 8px 0;
}

.chose-ticket > span:first-child {
    display: block;
    float: left;
    width: 20%;
}

.chose-ticket > span:last-child {
    display: block;
    float: left;
    width: 80%;
}

.chose-ticket > span > input {
    border-radius: 5%;
    border: none;
    width: 100%;
    padding-left: 10px;
    border-bottom: 1px solid darkgrey;
}

/**
 * 选择自取地址
 */
.sure {
    text-align: center;
    padding: 10px 0;
    font-size: .18rem;
    position: fixed;
    bottom: 0px;
    color: white;
    background: #00cc7d;
    z-index: 1000;
    width: 100%;
    line-height: .35rem;
}

.sure > span {
    height: 100%;
    display: block;
}

.addr-content {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

.get-addr {
    padding: 10px 8px;
    padding-top: 0;
}

.get-addr-list > div {
    margin-top: 10px;
}

.get-addr-list-title {
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 5px;
    padding-left: 10px;
    display: -moz-box;
    display: -webkit-box;
    display: box;
}

.get-addr-list-title > span {
    display: block;
    width: 50%;
}

.get-addr-list-title > span:first-child {
    color: blue;
}

.get-addr-list-title > span:last-child {
    color: #D1D1D1;
    font-size: 10px;
    text-align: right;
}

.get-addr-list-detail {
    color: grey;
    margin-right: 8px;
    clear: both;
}

.get-addr-list-detail > li {
    border: none;
    margin: 1px 0;
    border-radius: 1%;
    line-height: .35rem;
    padding-left: 10px;
    letter-spacing: 2px;
    width: 100%;
    float: left;
}

.get-addr-list-detail > li {
    float: left;
    font-size: 12px;
}

.get-addr-list-detail > li > span:last-child {
    float: right;
    font-size: 12px;
    padding-right: 8px;
}

/*.get-addr-list-detail>div>li:last-child {*/
/*float: right;*/
/*font-size: 12px;*/
/*}*/